![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Análisis de los mercados financieros"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Partiendo de la información del precio de un activo trataré de definir el momento de mercado en que se encuetra"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Es posible definir si un mercado es alcísta o bajista en función de la posición relativa y la pendiente de las medias\
    móviles más utilizadas (8, 21, 30, 50, 100, 200). "

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "El mercado es fractal. Compararé los resultados obtenidos para los marcos temporales más utilizados (1m,5m,15m,1h,2h,4h,1d,1s,1m)"
hipotesis_3 = "Existe relación entre principales noticias económicas y la volatilidad"
hipotesis_4 = "Existe relación entre el sentimiento del mercado y la dirección del precio"
hipotesis_5 = "Existe relación entre los patrones técnicos y el movimiento del precio"
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [3]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv('NQ=F_yfinance.csv')
fuente_1 = "yfinance"
df_2 = pd.read_csv('NDX_ASK_2019-05-17_10.csv')
fuente_2 = "darwinex"
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [6]:
# Primer dataset
df_1

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2000-09-18 00:00:00-04:00,3721.00,3785.50,3602.00,3653.50,72994,0.0,0.0
1,2000-09-19 00:00:00-04:00,3658.50,3817.00,3656.00,3804.00,70029,0.0,0.0
2,2000-09-20 00:00:00-04:00,3801.50,3874.00,3715.50,3853.00,78832,0.0,0.0
3,2000-09-21 00:00:00-04:00,3852.00,3874.00,3744.00,3765.00,70719,0.0,0.0
4,2000-09-22 00:00:00-04:00,3673.00,3780.00,3615.00,3776.00,55926,0.0,0.0
...,...,...,...,...,...,...,...,...
5724,2023-05-12 00:00:00-04:00,13446.00,13494.25,13310.50,13396.25,628035,0.0,0.0
5725,2023-05-15 00:00:00-04:00,13378.75,13480.00,13350.00,13468.00,495940,0.0,0.0
5726,2023-05-16 00:00:00-04:00,13461.00,13554.50,13426.25,13483.25,561834,0.0,0.0
5727,2023-05-17 00:00:00-04:00,13498.50,13669.00,13474.25,13643.50,561834,0.0,0.0
5728,2023-05-18 00:00:00-04:00,13640.50,13913.00,13628.25,13912.50,739256,0.0,0.0

In [7]:
# Siguiente dataset...
df_2

      1558087200042  7553.7   3.0
0     1558087200086  7554.0  11.0
1     1558087200090  7553.7   3.0
2     1558087200290  7554.0  11.0
3     1558087200348  7553.7   3.0
4     1558087200365  7554.0  11.0
...             ...     ...   ...
6854  1558090796952  7542.6   8.0
6855  1558090798610  7542.9   8.0
6856  1558090799669  7543.2  11.0
6857  1558090799988  7543.0   3.0
6858  1558090799990  7542.7   3.0

[6859 rows x 3 columns]